@using ShippingSystem.Presentation.ViewModels.CourierVM
@model List<ReadCourierViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Add" asp-controller="Courier" class="btn btn-primary"><i class="bi bi-plus-circle"> Add New Courier</i></a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Branch</td>
            <td>Status</td>
            <td>Settings</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.CourierId</td>
                <td>@item.CourierName</td>
                <td>@item.CourierEmail</td>
                <td>@item.CourierPhone</td>
                <td>@item.BranchName</td>
                <td>
                    <div class="form-check form-switch">
                        <input type="checkbox" onclick="return false;" class="form-check-input"
                        @(item.IsActive?"checked":"")/>
                    </div>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Courier" class="btn btn-info" asp-route-id="@item.CourierId"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Edit" asp-controller="Courier" asp-route-id="@item.CourierId" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-controller="Courier" asp-route-id="@item.CourierId" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

