@using ShippingSystem.Presentation.ViewModels.MerchantVM
@model ReadMerchantsViewModel
@{
    ViewData["Title"] = "Details";
}
<div class="table-responsive mt-3">
    <table class="table table-hover table-bordered bg-light align-middle text-center bg-opacity-75 shadow-sm rounded">
        <thead class="table-primary">
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Phone Number</td>
                <td>Company Name</td>
                <td>Rejected Order Charge Percentage</td>
                <td>Special PickUp Cost</td>
                <td>Address</td>
                <td>Branch</td>
                <td>City</td>
                <td>Governorate</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.MerchantName</td>
                <td>@Model.MerchantEmail</td>
                <td>@Model.MerchantPhoneNumber</td>
                <td>@Model.CompanyName</td>
                <td>@Model.RejOrderCostPercent</td>
                <td>@Model.SpecialPackUpCost</td>
                <td>@Model.MerchantAddress</td>
                <td>@Model.BranchName</td>
                <td>@Model.CityName</td>
                <td>@Model.GovernorateName</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mt-3">
    <a asp-action="index" asp-controller="Merchant" class="btn btn-dark"><i class="bi bi-arrow-left"></i> Back To List</a>
</div>
