@using ShippingSystem.Domain.Entities
@model List<Merchants>
@{
    ViewData["Title"] = "Index";
}

<div class="mt-3 mb-3">
    <a asp-action="Add" asp-controller="Merchant" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add New </a>
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered align-middle text-center bg-light bg-opacity-75 shadow-sm rounded">
        <thead class="table-primary">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Phone Number</td>
                <td>Branch</td>
                <td>Status</td>
                <td>Settings</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.User.UserName</td>
                    <td>@item.User.Email</td>
                    <td>@item.User.PhoneNumber</td>
                    <td>@item?.Branch?.Name</td>
                    <td>
                        <div class="form-check form-switch">
                            <input onclick="return false;" class="form-check-input" type="checkbox" @(item.IsActive ? "checked" : "") />
                        </div>
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Merchant" asp-route-id="@item.Id" class="btn btn-info text-white btn-sm"><i class="bi bi-info-circle"></i></a>
                        <a asp-action="Edit" asp-controller="Merchant" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-controller="Merchant" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="mt-3">
    <a class="btn btn-primary" asp-action="MerchantHome" asp-controller="Merchant"><i class="bi bi-list-ul"></i> Back To Home</a>
</div>


