@model List<ShippingSystem.Presentation.ViewModels.OrderItemsVM.GetOrderItemsVM>
<div class="table-responsive mt-3">
    <table class="table table-hover table-bordered bg-light bg-opacity-75 shadow-sm rounded">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Weight</th>
                <th>Price</th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Weight</td>
                        <td>@item.Price</td>
                        <td>
                            <a asp-action="DeleteFromOrderItems" asp-controller="Order" asp-route-id="@item.Id" class="btn btn-danger btnDeleteProduct btn-sm"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No Products Added</td>
                </tr>
            }
        </tbody>
    </table>

</div>
