@using ShippingSystem.Presentation.ViewModels.WeightSettingsVM
@model List<ReadWeightSettingsViewModel>
@{
    ViewData["Title"] = "Index";
    int counter = 1;
}

<a asp-action="New" asp-controller="WeightSettings" class="btn btn-primary mt-3 mb-3"><i class="bi bi-plus-circle"></i> Add New </a>
<div class="table-responsive"></div>
<table class="table table-hover table-bordered align-middle text-center bg-light bg-opacity-75 shadow-sm rounded">
    <thead class="table-primary">
        <tr>
            <td>Id</td>
            <td>Base Weight Limit</td>
            <td>Price Per Kg</td>
            <td>Settings</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                @* <td>@item.Id</td> *@
                <td>@counter</td>
                <td>@item.BaseWeightLimit</td>
                <td>@item.PricePerKg</td>
                <td>
                    <a asp-action="Details" asp-controller="WeightSettings" asp-route-id="@item.Id" class="btn btn-info text-white btn-sm"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Edit" asp-controller="WeightSettings" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-controller="WeightSettings" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Are you want to delete this weight setting?');"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    <div class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <a asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)" class="btn btn-outline-primary mx-1">Previous</a>
        }
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            @if (i == ViewBag.CurrentPage)
            {
                <span class="btn btn-primary mx-1">@i</span>
            }
            else
            {
                <a asp-action="Index" asp-route-pageNumber="@i" class="btn btn-outline-primary mx-1">@i</a>
            }
        }
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)" class="btn btn-outline-primary mx-1">Next</a>
        }
    </div>
</div>
