@using ShippingSystem.Domain.Entities
@model List<WeightSettings>
@{
    ViewData["Title"] = "Index";
}


<a asp-action="New" asp-controller="WeightSettings" class="btn btn-primary mt-3 mb-3"><i class="bi bi-plus-circle"></i> Add New </a>
<div class="table-responsive"></div>
<table class="table table-hover table-bordered align-middle text-center bg-light bg-opacity-75 shadow-sm rounded">
    <thead class="table-primary">
        <tr>
            <td>Id</td>
            <td>Base Weight Limit</td>
            <td>Price Per Kg</td>
            <td>Settings</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@item.Id</td>
                <td>@item.BaseWeightLimit</td>
                <td>@item.PricePerKg</td>
                <td>
                    <a asp-action="Details" asp-controller="WeightSettings" asp-route-id="@item.Id" class="btn btn-info text-white btn-sm"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Edit" asp-controller="WeightSettings" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-controller="WeightSettings" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>